@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {

    .rescol {
        max-width: 450px;
    }

    .news {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .copy_right {
        flex-direction: column;
    }

    .footer_right {
        text-align: left;
    }

    .footer_right ul {
        padding-left: 0px !important;
    }

    /* .banner_content {
        height: 50vh;
    } */

    .banner_content_details h2 {
        font-size: 60px;
        letter-spacing: -3px;
        line-height: 65px;
    }

    .tablet {
        flex-basis: content !important;
    }



    .centertab {
        text-align: center;
    }

    .navbar {
        align-items: baseline;
    }

}

@media only screen and (max-width: 767px) {

    .navbar-brand {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }



    .top_head_main {
        flex-direction: column;
        text-align: center;
    }

    .about_wrap h2,
    .newslatter_wrap h2 {
        font-size: 34px;
        letter-spacing: 0px;
    }

    .wpcf7-form .form-row-col-2 p {
        display: block !important;
    }

    .banner_content {
        width: auto !important;
    }

    button#firstSlider {
        position: absolute;
        display: none;
    }

    .mobileheadadd {
        display: none;
    }

    .banner_content_details p {
        font-family: "BilboSwashCaps";
        font-size: 25px;
    }

    .banner_content_details h2 {
        font-size: 45px;
        letter-spacing: -3px;
    }

    .banner_content_details span p {
        font-size: 14px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }

    .donate_btn {
        font-family: roboto;
        font-size: 14px;
        padding: 10px 20px;
        color: #fff !important;
        border: none;
        text-wrap: nowrap;
        background: #d88e7d;
        border-radius: 27px;
        font-weight: 500;
    }

    .nlogoimg {
        height: 30px;
    }

    .card_details_main {
        padding: 50px 0px
    }

    .nav-item {
        font-family: roboto;
        /* margin: 15px 0; */
        padding: 0px 5px;
    }
}



@media only screen and (max-width: 575px) {}